# values.yaml
grafana:
  service:
    type: ClusterIP       # or ClusterIP + port-forward
  persistence:
    enabled: true
    size: 10Gi
    storageClassName: standard-rwo

prometheus:
  prometheusSpec:
    retention: 60d            # keep 7 days
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
